<div class="initial-currency py-2">
  <div class="container">
    <span class="currency__fullname">USD - United State Dollar</span>
    <div class="clearfix d-flex align-items-center">
      <h5 class="currency__code currency--strong">USD</h5>
      <input type="tel" id="initialCurrency" class="currency--strong ml-auto" [(ngModel)]="initialInput">
    </div>
  </div>
</div>
<div class="container">
  <div class="currency-detail" *ngFor="let currencyData of customResponse; let i = index">
    <div class="row align-items-center m-0">
      <div class="col-10 col-sm-11 border-right py-2">
        <div class="clearfix">
          <span class="currency__code float-left">{{ currencyData.currencyCode }}</span>
          <span class="float-right">{{ (currencyData.currencyValue * initialInput) }}</span>
        </div>
        <!-- <div class="currency__fullname">{{ currencyData.currencyCode }} - United State Dollar</div> -->
        <div class="currency__price">1 USD = {{ currencyData.currencyCode }} {{ currencyData.currencyValue }}</div>
      </div>
      <div class="col-2 col-sm-1 text-center">
        <button type="button" class="mb-0" (click)="deleteCurrency(i)">(-)</button>
      </div>
    </div>
  </div>

  <div class="currency-add">
    <button class="btn-add" (click)="addCurrency()" [class.d-none]="addCurrencyStatus">(+) Add More Currencies</button>
    <div class="currency__input" [class.d-none]="!addCurrencyStatus">
      <input type="text" id="newCurrency" maxlength="3">
      <button type="button" class="btn-submit border" (click)="submitCurrency()">Submit</button>
    </div>
  </div>
</div>