.initial-currency {
  border-bottom: 1px solid #000;
  h5 {
    margin-bottom: 0;
  }
  input {
    border-radius: 6px;
    border-style: groove;
    outline: none;
  }
}

.currency-detail {
  border: 1px solid #000;
  margin: 1rem auto;
}

.border-right, .border {
  border-color: #000 !important;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-add {
  border: 1px solid #000;
  width: 100%;
  text-align: left;
}

.currency__input {
  input {
    width: 90%;
    border: 1px solid #000;
    text-transform: uppercase;
  }
  .btn-submit {
    width: 10%;
    padding: 4px;
  }
}