<div class="initial-currency">
  <div class="container">
    <span class="currency__fullname">USD - United State Dollar</span>
    <div class="clearfix">
      <h5 class="currency__code currency--strong float-left">USD</h5>
      <h5 class="currency--strong float-right">10.000</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="currency-detail" *ngFor="let fakeData of fakeDatas">
    <div class="row align-items-center m-0">
      <div class="col-10 col-sm-11 border-right py-2">
        <div class="clearfix">
          <span class="currency__code float-left">IDR</span>
          <span class="float-right">10.000</span>
        </div>
        <div class="currency__fullname">IDR - United State Dollar</div>
        <div class="currency__price">1 USD = IDR 14.410,50</div>
      </div>
      <div class="col-2 col-sm-1 text-center">
        <button type="button" class="mb-0">(-)</button>
      </div>
    </div>
  </div>

  <div class="currency-add">
    <button class="btn-add">(+) Add More Currencies</button>
    <div class="currency__input d-none">
      <input type="text">
      <button type="button" class="btn-submit border">Submit</button>
    </div>
  </div>
</div>