@import "../../library/helper/scss/mixin.scss";

.initial-currency {
  border-bottom: 1px solid #000;
  h5 {
    margin-bottom: 0;
  }
  input {
    border-radius: 6px;
    border-style: groove;
    outline: none;
  }
}

.currency-detail {
  border: 1px solid #000;
  margin: 1rem auto;
  border-radius: 6px;
}

.border-right, .border {
  border-color: #000 !important;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-add {
  border: 1px solid #000;
  width: 100%;
  text-align: left;
  border-radius: 6px;
  padding: 4px;
}

.currency__input {
  input {
    width: 90%;
    border: 1px solid #000;
    border-radius: 6px 0 0 6px;
    text-transform: uppercase;
    @include mobile() {
      width: 80%;
    }
  }
  .btn-submit {
    width: 10%;
    padding: 4px;
    border-radius: 0 6px 6px 0;
    @include mobile() {
      width: 20%;
    }
  }
}

.list-currency {
  .custom-control {
    display: inline-block;
    width: 33.3333%;
  }
  input, label {
    cursor: pointer;
  }
}